/* Your existing CSS styles */
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

:root {
    --color-dark: #104515;
    --color-primaryDark: #08cf26;
    --color-primaryLight: #4b92ff;
    --color-secondary: #b7e3ff;
    --color-extra: #F0E6DC;
    
    --transition: all 300ms ease;
}

body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    cursor: url('./images/default.png'), auto;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    position: fixed;
    margin-top: -60px;
    width: 100%;
    height: 60px;
    background-color: rgba(190, 220, 180, 0.2);
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.6s ease;
    z-index: 2;
}

header img {
    margin-left: 40px;
    width: 50px;
    border-radius: 50%;
}

header ul {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

header ul li {
    position: relative;
    color: var(--color-dark);
    font-family: 'Indie Flower', cursive;
    font-size: 1.2vw; /* Adjust font size relative to viewport width */
    height: 20px;
    list-style: none;
    transition: scale 300ms;
}

header ul li::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    top: 110%;
    left: 25%;
    background-color: var(--color-primaryDark);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header ul li:hover {
    scale: 120%;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--color-primary);
    cursor: url('./images/hand.png'), auto;
}

header.sticky {
    background-color: rgba(190, 220, 180, 0.2);
    backdrop-filter: blur(16px);
}

a {
    color: #000;
}

/* Main Content Styles */

.about{
    padding-top: 1px;
}

.container {
    display: flex;
    margin-top: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.right-side {
    overflow: hidden;
}

.right-side img,
.left-side {
    animation: fadeIn 600ms ease-out;
}

img {
    width: auto;
    height: calc(100vh - 60px);
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-side {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
}

.left-side h1 {
    font-family: 'Single Day', cursive;
    font-size: 4vw; /* Adjust font size relative to viewport width */
    text-align: center;
    position: relative;
}

.left-side p {
    width: 90%;
    font-family: 'Single Day', cursive;
    font-size: 1.5vw; /* Adjust font size relative to viewport width */
    line-height: 36px;
}

.landing .left-side a, .collab {
    color: #000;
    text-decoration: none;
    border-bottom: 3px dotted #333; /* Adjust as per your design */
    display: inline;
    transform: 300ms;
}

.left-side span:hover {
    cursor: url('./images/hand.png'), auto;
    color: #08cf26;
    border-bottom: 3px dotted #104515;
}

.introgif img{
    height: calc(33.33vh + 40px);
}

.about h2 {
    margin-top: 80px;
    font-family: 'Single Day', cursive;
    text-align: center;
    position: relative;
    font-size: 2.5vw; /* Adjust font size relative to viewport width */
}

.about p {
    margin-top: 40px;
    font-family: "Fredoka", sans-serif;
}

.about button {
    width: 150px;
    height: 50px;
    border-radius: 16px;

    margin-top: 40px;
    margin-right: 60px;

    font-family: "Fredoka", sans-serif;
    font-size: 1.4vw; /* Adjust font size relative to viewport width */
    color: #fff;
    background-color: #4CAF50;
    transition: 300ms;
}

.about button:hover {
    background-color: #27cc40;
    cursor: url('./images/hand.png'), auto;
}

.works {
    padding: 40px;
}

.works h1 {
    margin-left: 40px;
    font-family: 'Single Day', cursive;
    font-size: 3vw; /* Adjust font size relative to viewport width */
}

.works a:hover {
    cursor: url('./images/hand.png'), auto;
}

.work-container {
    display: flex;
    flex-wrap: wrap; /* Allow works to wrap to next row */
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Add overflow to enable scrolling if needed */
}

.work {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1); /* Add border line */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    max-width: 30%; /* Adjust the width of each work column */
}

.work:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work-image {
    margin-bottom: 20px;
}

.work-image img {
    max-width: 80%;
    height: auto;
}

.work-image-center img {
    max-width: 60%;
    height: auto;
}

.work-description {
    text-align: center;
}

.work-description a, h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 1.5vw; /* Adjust font size relative to viewport width */
}

.work-description p {
    font-size: 1vw; /* Adjust font size relative to viewport width */
    line-height: 1.5vw; /* Adjust line height relative to viewport width */
}

.certifications {
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 60vw; /* Adjust width relative to viewport width */
    height: 80vh; /* Adjust height relative to viewport height */
    border: 4px solid #000;
    border-radius: 12px;
}

.carousel img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: var(--color-dark);
    border: none;
    cursor: pointer;
    font-size: 2vw; /* Adjust font size relative to viewport width */
    margin-left: 8px;
    margin-right: 8px;
    outline: none;
}

.carousel button:hover {
    scale: 110%;
}

.carousel button.prev {
    left: 0;
}

.carousel button.next {
    right: 0;
}






.connect {
    background-image: url(./images/connect-bg.jpg);
    height: 100vh;
}

.columns {
    display: flex;
    padding-top: 10%;
}

.column {
    flex: 1;
    padding: 2%;
    box-sizing: border-box;
}

.contact-links {
    order: 1;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6%;
    padding-left: 6%;
    border-radius: 3vw;
    background-color: rgba(255, 255, 255, 0.4);
}

.letsworktogether {
    order: 2;
    max-width: 40%;
}

.row {
    margin-top: 2%;
}

.social-icons {
    display: flex;
}

.social-icons img {
    max-width: 4vw;
    max-height: 4vw;
    margin-right: 40px;
}

.social-icons a, img:hover {
    cursor: url('./images/hand.png'), auto;
}

.letsworktogether {
    width: 50%;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 3vw;
    box-shadow: 0 2vw 2.5vw rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Single Day', cursive;
    font-size: 2.5vw;
}

label {
    display: block;
    margin-bottom: 1%;
}

input,
select,
textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
}

textarea {
    height: 60px;
}

.submit-button {
    display: flex;
    justify-content: center;
    height: 40px;
}

.submit-button button {
    background-color: #4CAF50;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 1vw;
    cursor: url('./images/hand.png'), auto;
}

.submit-button button:hover {
    background-color: #449A44;
}
