@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
}

* {
    margin: 0;
    padding: 0;
    background-color: #0B1215;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFAFA;
    overflow-x: hidden;
}

section {
    padding-top: 6rem;
}

button {
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    z-index: 2;
}

#menu-btn {
    display: none;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 40px;
}

header img {
    width: 40px;
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    transition: transform 0.3s ease;
}

header ul li.active a {
    color: #6699CC;
    font-size: 1.4rem;
    border-bottom: 2px solid #FFFAFA;
}

header ul li a{
    margin: 0 1rem;
    text-decoration: none;
    color: #FFFAFA;
}

header ul li:hover {
    transform: scale(1.1);
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 0.6rem;
    margin-right: 40px;
    gap: 1rem;
    color: #0B1215;
    background-color: #FFFAFA;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}

header button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(255, 250, 250, 0.3);
}

header button span {
    background-color: #FFFAFA;
}

header.sticky {
    background-color: rgba(190, 220, 180, 0.2);
    backdrop-filter: blur(16px);
}

/* ===================================== Landing ===================================== */

.landing .container {
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.landing .container .right-side img {
    border-radius: 2rem;
    height: 75vh;
    
    animation: float 3s ease-in-out infinite;
}

.landing .container .left-side h1 {
    font-size: 6rem;
    line-height: 90%;
    margin-bottom: 2rem;
}

.landing .container .left-side h1 span {
    color: #6699CC;
}

.landing .container .left-side h2 {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    line-height: 90%;
    margin-bottom: 4rem;
}

.landing .container .left-side h2 .break {
    display: none;
}

.landing .container .left-side .moto{
    font-size: 1.6rem;
    font-family: "Homemade Apple", cursive;
    background-color: #0B1215;
    color: #FFFAFA;
    margin-bottom: 4rem;
}

.landing .container .left-side .connection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landing .container .left-side .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #9ccdff;
    width: fit-content;
    padding: 1rem;
    border-radius: 4rem;
}

.landing .container .left-side .social img {
    background-color: #FFFAFA;
    height: 40px;
    transition: transform 0.3s ease;

    padding: 2px;
    border: 2px solid #064b6b;
    border-radius: 50%;
}

.landing .container .left-side .social img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.landing .container .left-side .social a {
    display: flex;
    background-color: #9ccdff;
    justify-content: center;
    align-items: center;
}  

.landing .container .left-side .connection a {
    text-decoration: none;
}

.landing .container .left-side .connection button {
    height: fit-content;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    background-color: yellow;
    cursor: pointer;
}

.landing .container .left-side .connection button span {
    background-color: yellow;
    transition: transform 0.3s ease;
}

.landing .container .left-side .connection button:hover span {
    transform: translateX(0.5rem) scale(1.1);
}

/* ===================================== Works ===================================== */

.works h1 {
    text-align: center;
}

.works .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.works .container .work1, .work2, .work3, .work4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: #FFFAFA;
}

.works .container img {
    height: 20rem;
    max-width: 35rem;
    background-color: #FFFAFA;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.works .container h1, p {
    color: #0B1215;
    background-color: #FFFAFA;
    text-align: center;
}

.works .container .work5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: #FFFAFA;
}

/* ===================================== About ===================================== */

.about h1 {
    text-align: center;
}

.about .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.about .container .left-side {
    border-radius: 2rem;
    width: 50vw;
    margin: 4rem;
    background-color: #FFFAFA;
}

.about .container .left-side h1 {
    background-color: #FFFAFA;
    color: #0B1215;
    padding-top: 1rem;
    border-radius: 2rem;
}

.about .container .left-side p {
    text-align: left;
    padding-top: 1rem;
    padding-inline: 2rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    line-height: 170%;
    color: #292727;
}

.about .container .left-side button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #FFFAFA;
    background-color: #064b6b;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    margin-left: 75%;
    transition: transform 0.3s ease;
}

.about .container .left-side button span {
    background-color: #064b6b;
}

.about .container .left-side button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.about .container .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: 4rem;
}

.about .container .right-side h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 1rem;
    color: #0B1215;
    width: fit-content;
    padding-inline: 1rem;
    background: yellow;
    border-radius: 1rem;
}

.about .container .right-side .programming {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.about .container .right-side img {
    width: 4rem;
}

figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}


/* ===================================== Certificattions ===================================== */

.certifications .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-inline: 4rem;
}

.certifications h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.certifications .container .cert1, .cert2, .cert3, .cert4, .cert5, .cert6 {
    width: 25vw;
    margin: 1rem;
}

.certifications .container img {
    width: 25vw;
    height: 30vh;
    border-radius: 1rem;
    box-shadow: 0 4px 4px 0 rgb(186, 186, 186), 0 6px 12px 0 rgba(186, 186, 186);
}

/* ===================================== Connect ===================================== */

.connect {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.connect .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8rem;
}

.connect .container .left-side {
    width: 40vw;
}

.connect .container .left-side img {
    border-radius: 1rem;
}

.connect .container .right-side {
    color: #FFFAFA;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect .container .right-side h1 {
    text-align: center;
    padding: 0.5rem;
    padding-inline: 4rem;
    width: fit-content;
    color: #0B1215;
    background-color: yellow;
    border-radius: 2rem;
}

.connect .container .right-side p {
    background-color: #0B1215;
    color: #FFFAFA;
    margin-top: 1rem;
}

.connect .container .right-side form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: #FFFAFA;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid #FFFAFA;
}

.connect .container .right-side form .row, .col, label, input, textarea {
    color: #FFFAFA;
}

.connect .container .right-side form .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.connect .container .right-side form input {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #FFFAFA;
    font-family: "Poppins", sans-serif;
}

.connect .container .right-side form textarea {
    padding: 1rem;
    border-radius: 1rem;
    width:24vw;
    height: 10vh;
    border: 1px solid #FFFAFA;
    font-family: "Poppins", sans-serif;
}

.connect .container .right-side form button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}
  
.connect .container .right-side form button:hover {
    cursor: pointer;
    background-color: #25D366;
    color: #FFFAFA;
}

/* ===================================== Footer ===================================== */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #101a1e;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

footer * {
    background-color: #101a1e;
}

footer .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer .name img {
    width: 40px;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 4rem;
}

footer ul li {
    font-family: "Poppins", sans-serif;
}

footer ul a {
    text-decoration: none;
    color: #81c0ff;
    transition: color 0.3s ease;
}

footer ul a:hover {
    color: #FFFAFA;
}

footer .social {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

footer .social img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #FFFAFA;
}

footer p {
    color: aliceblue;
}


/* ============================= Mobile - Responsive ===================== */


@media (max-width: 768px) {

    /* Responsive Styles for Mobile Screens */

/* General Styles */

* {
    max-width: 100vw;
    overflow-x: hidden;
}

section {
    margin-top: 1rem;
}

body {
    font-size: 16px; /* Set base font size for better readability on mobile */
}

/* Header Styles */
header {
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

#menu-btn {
    display: inline;
    padding: 0.5rem;
    padding-inline: 1rem;
}

header h1 {
    margin-left: 0; /* Center align the logo and name */
    font-size: 1rem;
}

header ul {
    display: none;
}

header ul.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #333;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 1;
}

header ul.show li {
    padding: 1rem;
    text-align: center;
    background-color: #333;
    border-bottom: 1px solid #fff; /* Add border to separate items */
}

header ul.show a {
    background-color: #333;
}

header button {
    display: none;
}

/* Landing Section Styles */
.landing .container {
    flex-direction: column;
    height: auto; /* Remove fixed height */
    margin-inline: 0;
}

.landing .container .left-side h1 {
    font-size: 4rem;
    padding-inline: 1.8rem;
}

.landing .container .left-side h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.landing .container .left-side .moto {
    padding-inline: 2rem;
    font-size: 1rem;
    margin: 1rem;
}

.landing .container .left-side .connection {
    width: 100%;
    scale: 0.7;
    gap: 2rem;
    margin-inline: 0;
    flex-wrap: wrap;
}

.landing .container .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .container .right-side img {
    height: 60vh; /* Allow image height to adjust based on content */
    max-width: 100%; /* Ensure image doesn't overflow */
    margin-top: 2rem; /* Add space between image and text */
}

/* Works Section Styles */
.works .container .work1, .work2, .work3, .work4, .work5 {
    width: 90%; /* Adjust width for better fit on mobile screens */
}

.works .container .work5 {
    flex-direction: column;
}

.works .container img {
    width: 100%; /* Make images responsive */
    height: 90%;
}

/* About Section Styles */


.about .container {
    flex-direction: column;
    margin-inline: 2rem;
    overflow-y: hidden;
}

.about .container .left-side, .about .container .right-side {
    width: 100%; /* Adjust width for better fit on mobile screens */
}

.about .container .left-side h1 {
    font-size: 2rem;
}

.about .container .left-side p {
    font-size: 1.1rem;
}

.about .container .left-side button {
    margin-inline: auto; /* Center align the button */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about .container .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Certifications Section Styles */

.certifications .container {
    padding-inline: 2rem;
}

.certifications .container .cert1, .cert2, .cert3, .cert4, .cert5, .cert6 {
    width: 90%; /* Adjust width for better fit on mobile screens */
}

.certifications .container img {
    width: 100%; /* Make images responsive */
    height: 90%;
}

/* Connect Section Styles */

.connect {
    height: auto;
}

.connect .container {
    flex-direction: column;
    overflow-y: hidden;
}

.connect .container .left-side, .right-side {
    width: 95vw;
}

.connect .container .left-side img {
    margin: 0.5rem;
    width: 90vw; /* Make image responsive */
}

.connect .container .right-side form {
    width: 70vw;
}

.connect .container .right-side form .row {
    flex-direction: column;
}

.connect .container .right-side form textarea {
    width: 85%; /* Make textarea responsive */
}

.connect .container .right-side form button {
    margin: 1rem auto; /* Center align the button */
}

/* Footer Styles */

footer h1 {
    font-size: 1.5rem;
}

footer ul {
    /* flex-direction: column; */
    text-align: center;
    gap: 1rem;
}

footer p {
    font-size: 0.8rem;
}


}