:root{
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-dark: #525252;
    --color-black: #141415;
    --color-primary: #23238E;
    --color-primary-light: rgba(29, 118, 250, 0.116);
    --color-success: #29f5a6;
    --color-warning: #ffce31;

    --transition: all 300ms ease;
}

 * {
     margin: 0;
     padding: 0;
     outline: 0;
     border: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
 }

 ::-webkit-scrollbar{
     width: 10px;
     background: var(--color-primary-light);
 }

 ::-webkit-scrollbar-thumb{
     background: var(--color-primary);
 }


 html{
     font-size: 16px;
     scroll-behavior: smooth;
 }

 body{
     background: var(--color-white);
     font-family: 'Playfair Display', serif;
     color: var(--color-dark);
     max-width: 100vw;
 }

 h1, h2, h3, h4, h5 {
     color: var(--color-black);
     line-height: 1.2;
 }

 h1{
     font-size: 3.8rem;
 }

 h2{
    font-size: 2.6rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.2rem;
}

h5{
    font-size: 0.86rem;
}

p {
    line-height: 1.8;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 10rem 0 7rem;
    max-width: 100vw;
    overflow-x: hidden;
}

section h1 {
    text-align: center;
    display: block;
    margin-bottom: 5rem;
}

img {
    width: 100%;
}

.btn {
    padding: 1.4rem 3.4rem;
    font-size: 1.1rem;
    color: var(--color-black);
    background-color: var(--color-white);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);
}

.btn:hover{
    box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10%;
}

nav{
    width: 100%;
    height: 5rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid var(--color-light);
}

nav.show-box-shadow{
    box-shadow: 0 0.6rem 1rem var(--color-primary-light);
    border: none;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav button{
    display: none;
}

@keyframes shine {
    from{
        background-position: center 0;
    }
    to {
        background-position: center 200%;
    }
}

nav h3{
    color: var(--color-primary);
    font-family: "Montserrat", sans-serif;
    background: url('./images/tropical.jpg');
    background-size: auto 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}

nav .container ul{
    display: flex;
    height: 100%;
}

nav .container ul li a{
    display: flex;
    height: 100%;
    width: 7rem;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    position: relative;
    transition: var(--transition);
}

nav .container ul li a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

nav .container ul li a.active{
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* ================== Landing Page ==================== */

section.landing {
    display: grid;
    place-items: center;
    position: relative;
    top: 5rem;
    padding-bottom: 14rem;
}

section.landing .container{
    display: grid;
    grid-template-columns: 5rem auto 26rem;
    gap: 2rem;
}

section.landing .socials{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
}

section.landing .socials a{
    font-size: 1.1rem;
    background: var(--color-light);
    color: var(--color-dark);
    padding: 0.3rem;
    border-radius : 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

section.landing .socials a:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

section.landing .info h1{
    text-align: left;
    margin: 0;
}

section.landing h3{
    margin: 2.4rem 0 1rem;
}

section.landing .info p{
    width: 40rem;
    margin-bottom: 1rem;
}

section.landing .profile-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.landing .profile-area .outer-circle{
    width: 26rem;
    height: 26rem;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    position: relative;
    animation: move 30s linear infinite;
}

@keyframes move{
    to{
        transform: rotate(360deg);
    }
}

section.landing .profile-area .outer-circle span{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    background: var(--color-white);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem var(--color-primary-light);
}

section.landing .profile-area .outer-circle span:nth-child(1){
    left: calc(50% - 2rem);
    top: -2rem;
}

section.landing .profile-area .outer-circle span:nth-child(2){
    right: -2rem;
    top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(3){
    left: -2rem;
    top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(4 ){
    left: calc(50% - 2rem);
    bottom: -2rem;
}

section.landing .profile-area .inner-circle{
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

/* ======================= About =================== */

section.about{
    background: var(--color-light);
}

section.about .container{
    display: grid;
    grid-template-columns: 26rem auto;
    gap: 5rem;
}

section.about p{
    margin-bottom: 1rem;
}

section.about .container .read-more-content{
    display: none;
}

section.about .container .read-more-content.show-content{
    display: block;
}

section.about .container .read-more{
    display: block;
    margin: 1rem 0 2rem;
    color: var(--color-primary);
    cursor: pointer;
}

section.about .container .read-more:hover{
    text-decoration: underline;
}

/* ===================== Skills ================== */

section.skills .container{
    width: 50%;
}

section.skills .skill{
    margin-bottom: 1rem;
}

section.skills .skill .head{
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 1.6rem;
    cursor: pointer;
}

section.skills .skill .head h4{
    color: var(--color-white);
}

section.skills .skill .head .left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.skills .skill .items{
    display: none;
}

section.skills .container .skill .items.show-items{
    display: block;
}

section.skills .skill .progress-area{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

}

/* Skill 1*/

section.skills .skill .item1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.6rem;
    background: var(--color-light);
    margin-bottom: 0.3rem;
    transition: var(--transition);
}

section.skills .skill .item1:hover{
    background: var(--color-white);
    cursor: default;
}

section.skills .item1 .progress-bar{
    width: 100%;
    height: 1rem;
    background: var(--color-primary-light);
}

section.skills .item1:nth-child(1) .progress-bar .progress{
    height: 100%;
    width: 75%;
    background: var(--color-primary);
}

section.skills .item1:nth-child(2) .progress-bar .progress{
    height: 100%;
    width: 55%;
    background: var(--color-primary);
}

section.skills .item1:nth-child(3) .progress-bar .progress{
    height: 100%;
    width: 35%;
    background: var(--color-primary);
}

/* Skill 2*/

section.skills .skill .item2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.6rem;
    background: var(--color-light);
    margin-bottom: 0.3rem;
    transition: var(--transition);
}

section.skills .skill .item2:hover{
    background: var(--color-white);
    cursor: default;
}

section.skills .item2 .progress-bar{
    width: 100%;
    height: 1rem;
    background: var(--color-primary-light);
}

section.skills .item2:nth-child(1) .progress-bar .progress{
    height: 100%;
    width: 85%;
    background: var(--color-primary);
}

section.skills .item2:nth-child(2) .progress-bar .progress{
    height: 100%;
    width: 55%;
    background: var(--color-primary);
}

/* Skill 3*/

section.skills .skill .item3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.6rem;
    background: var(--color-light);
    margin-bottom: 0.3rem;
    transition: var(--transition);
}

section.skills .skill .item3:hover{
    background: var(--color-white);
    cursor: default;
}

section.skills .item3 .progress-bar{
    width: 100%;
    height: 1rem;
    background: var(--color-primary-light);
}

section.skills .item3:nth-child(1) .progress-bar .progress{
    height: 100%;
    width: 80%;
    background: var(--color-primary);
}

section.skills .item3:nth-child(2) .progress-bar .progress{
    height: 100%;
    width: 70%;
    background: var(--color-primary);
}

section.skills .item3:nth-child(3) .progress-bar .progress{
    height: 100%;
    width: 50%;
    background: var(--color-primary);
}

/* ================ Services =============== */

section.services{
    background: var(--color-light);
}

section.services .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

section.services .container .service{
    background: var(--color-white);
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: default;
    transition: var(--transition);
}

section.services .container .service:hover{
    box-shadow: 0 3rem 3rem var(--color-primary-light);
}

section.services .container .service:nth-child(1) span{
    background: coral;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

section.services .container .service:nth-child(2) span{
    background: turquoise;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

section.services .container .service:nth-child(3) span{
    background: goldenrod;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

/* ================= Portfolio ================ */

section.recent-work h1{
    text-align: left;
    margin: 3rem 0 1rem;
    width: 65%;
}

section.recent-work .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

section.recent-work .projects .project{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.recent-work .projects .project .action{
    display: flex;
    gap: 2rem;
}

section.recent-work .projects .project .action a{
    color: var(--color-primary);
}

section.recent-work .projects .project .action a:hover{
    text-decoration: underline;
}

/* ================== Testimonial =============== */

/*

section.testimonials{
    background: var(--color-light);
}

section.testimonials .container{
    width: 44rem;
}

section.testimonials .carousel{
    display: flex;
    align-items: center;
}
section.testimonials .testimonial{
    background: var(--color-white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

section.testimonials .testimonial .head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section.testimonials .testimonial .head .profile-area{
    display: flex;
    gap: 1rem;
}

section.testimonials .testimonial .head .profile-area .avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;overflow: hidden;
}

section.testimonials .testimonial .head .stars{
    color: var(--color-primary);
}

section.testimonials .testimonial .head .stars span{
    font-size: 1.2rem;
}

*/

/* =================== Contact Me ================== */

section.contact{
    background: url('./images/contact.jpeg') no-repeat center center/cover;
    padding: 0;
    max-width: 100vw;
}

section.contact .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10rem 0 7rem;
}

section.contact .container{
    width: 40%;
}

section.contact .container h1{
    margin: 0;
    color: var(--color-white);
}

section.contact .container p{
    text-align: center;
    color: var(--color-white);
    opacity: 0.8;
    margin-top: 0.5rem;
}

section.contact form{
    margin-top: 3rem;
}

section.contact form input, section.contact form textarea{
    display: block;
    width: 100%;
    margin: 0.5rem;
    padding: 1.6rem;
    border: 1px solid var(--color-white);
    background: transparent;
    color: var(--color-white);
    transition: var(--transition);
}

section.contact form textarea{
    height: 10rem;
}

section.contact form input:focus, section.contact form textarea:focus{
    background: var(--color-white);
    color: var(--color-black);
}

section.contact form input::placeholder, section.contact form textarea::placeholder{
    color: var(--color-white);
}

section.contact form .btn{
    width: 14rem;
    border: none;
    background: var(--color-white);
    color: var(--color-black);
    margin: 2rem auto 0;
}

section.contact form .btn:hover{
    background: var(--color-primary);
    cursor: pointer;
    color: white;
}

/* ======================= Footer ======================== */

footer{
    padding-top: 5rem;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container ul{
    display: flex;
    gap: 3rem;
}

footer .container ul a{
    color: var(--color-dark);
    transition: var(--transition);
}

footer .container ul a:hover{
    color: var(--color-primary);
}

footer .container .socials{
    display: flex;
    gap: 2rem;
}

footer .container .socials a{
    background: var(--color-light);
    color: var(--color-dark);
    padding: 0.3rem;
    border-radius: 50%;
    transition: var(--transition);
}

footer .container .socials a:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

footer .copyright{
    background: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    margin-top: 5rem;
    padding: 2rem 0;
    font-size: 0.8rem;
}

/* ================== MEDIA QUEIRIES ======================= */

@media screen and (max-width: 600px) {

    /* Font Size */

    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.6rem;
    }    
    h3{
        font-size: 1.2rem;
    } 
    h4{
        font-size: 1.0rem;
    } 
    h5{
        font-size: 0.68rem;
    } 

    .container{
        width: 94%;
    }

    /* Navigation Bar */

    nav h3{
        margin-left: 1rem;
    }
    nav .container{
        width: 100%;
    }
    nav .container ul{
        position: fixed;
        top: 0;
        flex-direction: column;
        z-index: 3;
        width: 16rem;
        height: 100vh;
        background: var(--color-white);
        box-shadow: 1rem 0 2rem var(--color-primary-light);
        display: none;
    }
    nav ul li{
        height: 4.6rem;
        width: 100%;
    }
    nav .container ul li a{
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }
    nav .container ul li a:hover{
        padding-left: 3rem;
    }
    nav button{
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: var(--color-black);
        margin-right: 1rem;
    }
    nav button#close-btn{
        display: none;
    }

    /* Landing Section*/

    section.landing{
        margin-top: -4rem;
        padding-bottom: 7rem;
        max-width: 100vw;
        overflow-x: hidden;
    }
    section.landing .container{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        text-align: center;
        row-gap: 2rem;
    }
    section.landing .container .socials{
        display: none;
    }
    section.landing .container .info{
        width: 90%;
        margin: 0 auto;
    }
    section.landing .container .info h1{
        text-align: center;
        margin-top: 4rem;
    }
    section.landing .container .info p{
        margin: 0 auto;
        width: 92%;
    }
    section.landing .container .profile-area{
        grid-row: 1;
        width: 94%;
        margin: 0 auto;
    }
    section.landing .container .outer-circle{
        width: 16rem;
        height: 16rem;
    }
    section.landing .container .inner-circle{
        width: 10rem;
        height: 10rem;
    }
    section.landing .container .outer-circle span{
        width: 3rem;
        height: 3rem;
    }
    section.landing .profile-area .outer-circle span:nth-child(1){
        left: calc(50% - 1.5rem);
        top: -1.5rem;
    }
    
    section.landing .profile-area .outer-circle span:nth-child(2){
        right: -1.5rem;
        top: calc(50% - 1.5rem);
    }
    
    section.landing .profile-area .outer-circle span:nth-child(3){
        left: -1.5rem;
        top: calc(50% - 1.5rem);
    }
    
    section.landing .profile-area .outer-circle span:nth-child(4 ){
        left: calc(50% - 1.5rem);
        bottom: -1.5rem;
    }

    /* About */

    section.about .container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }

    /* Skills */

    section.skills .container{
        width: 94%;
    }

    /* Services */

    section.services .container{
        grid-template-columns: 1fr;
    }

    /* Portfolio */

    section.recent-work .container .projects{
        grid-template-columns: 1fr;
    }
    section.recent-work .container h1{
        width: 94%;
        margin: 1.4rem 0 1rem;
    }

    /* Testimonial */

    /*

    section.testimonials .container{
        grid-template-columns: 1fr;
        width: 94vw;
    }
    section.testimonials .container .testimonial .head .stars span{
        font-size: 0.8rem;
    }
    
    */

    /* Contact */

    section.contact .container{
        width: 94vw;
    }
    section.container p{
        width: 80vw;
        margin: 0.5rem auto 0;
    }

    /* Footer */

    footer .container{
        flex-direction: column;
        gap: 3rem;
    }
    footer .container ul{
        flex-direction: column;
        text-align: center;
        gap: 1.4rem;
    }
    
}